.sendMail {
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 60%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail_close {
    cursor: pointer;
}

.sendMail_header {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
    color: gray;
}

.sendMail_header h3 {
    color: whitesmoke;
    font-size: 13px;
}

.sendMail form {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
}

.sendMail form input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendMail_error{
    color: red;
    text-align: right;
    height: 5px;
}

.sendMail_message {
    flex: 1;
}

.sendMail_send {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}

